.hero_page
    background-image: url("./assets/black-keyboard.jpg")
    background-size: cover
    background-position: center
    text-shadow: 0 0 2px rgba(77,91,97,1)
    color: white
    h1
        font-size: 60px
        margin: 20px 0
    h3
        font-size: 30px
        margin: 0

.hero_content
    padding-bottom: 90px

.hero_icons
    display: flex
    justify-content: center
    font-size: 50px
    .icon
        margin: 15px 10px 0 10px
        transition: margin 0.5s
    .icon_animate
        margin-top: 0px

.hero_verb
    margin-top: 25px
    font-size: 35px
    height: 65px
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    width: 100%
    left: 0
    div
        margin: 0 5px
    .verb
        position: relative
        text-align: left
        width: 185px
        &.verb_animate_0
            top: 55px
        &.verb_animate_1
            top: 0
        &.verb_animate_2
            top: -55px

@media screen and (max-width: 550px)
    .hero_page
        h1
            font-size: 40px
        h3
            font-size: 22px
    .hero_icons
        font-size: 40px
    .hero_verb
        font-size: 25px
        .verb
            width: 140px
    