#about
  padding: 30px
  margin: 0 auto
  max-width: 850px
  background: rgba(0,0,0,0.045)
  h2
    font-size: 42px
    margin-top: 15px
  h3
    font-size: 28px
    i
      color: $main1
  h4
    font-size: 20px
    margin: 20px
  p, li
    font-size: 18px

.about_wrap
  background: $softBkrd
  box-shadow:  1px 1px 4px black

.about_top-sect
  display: flex
  flex-wrap: wrap
  .about_point
    flex: 1
    margin: 20px

.about_bot-sect
  padding: 15px
  width: 500px
  margin: auto

.about_hire-btn
  width: 150px
  height: 75px
  border-radius: 20px
  margin: 0 auto

@media screen and (max-width: 550px)
  #about
    padding: 15px 0 0 0
  .about_top-sect
    flex-direction: column
    .about_point
      flex: none
  .about_bot-sect
    width: 100%
  .about_ghost-bot
    height: 15px

@media screen and (min-width: 1000px)
  #about
    padding: 20px 45px
    max-width: 1000px
    h2
      font-size: 50px
    h3
      font-size: 35px
    h4
      font-size: 25px
    p, li
      font-size: 20px
