#about
  h3
    i
      color: $main1

.about_top-sect
  margin: 25px 0
  min-height: 280px

.about_self-img
  float: left
  width: 250px
  margin: 0 25px 0 0
  img
    width: 100%
    border-radius: 50%

.about_bot-sect
  display: flex
  .about_point
    margin: 0 15px
    flex: 1

@media screen and (max-width: 550px)
  p, li
    font-size: 15px
  .about_self-img
    float: none
    margin: auto
  .about_bot-sect
    display: block
