*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif
  // border: solid 1px

body
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

h1, h2, h3, h4
  text-align: center
  margin: 0

.base_large-btn
  margin: auto
  width: 100px
  height: 50px
  button
    width: 100%
    height: 100%
