$main1: #396E7F
$main1Dr1: #215668
$main1Dr2: #0C3D4D
$main1Lt1: #5C8998
$main1Lt2: #8FB2BE
$main2: #CCAA58
$main2Dr1: #A78431
$main2Lt1: #F4D790
$main3: white
$textMain: #464646
$softBkrd: #E7F1F4

*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif
  // border: solid

body
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

h1, h2, h3, h4, h5
  text-align: center
  margin: 0

h2, h3
  color: $main2

h1
  font-size: 55px

h2
  margin-top: 5px
  font-size: 42px

h3
  font-size: 25px

h4
  font-size: 18px

h5
  font-size: 14px

p, li
  color: $textMain
  font-size: 18px

button
  &:focus
    outline: 0

.base_section
  padding: 30px 60px
  margin: 0 auto
  max-width: 900px
  &.odd
    background: rgba(0,0,0,0.045)
  &.even
    background: rgba(0,0,0,0.02)

@media screen and (max-width: 900px)
  .base_section
    padding: 20px

@media screen and (min-width: 1100px)
  .base_section
    max-width: 1050px

.base_section-wrap
  box-shadow:  0 0 1px 0 black
  &.odd
    background: $softBkrd
  &.even
    background: white

.base_btn
  button
    font-weight: bold
    width: 100%
    height: 100%
    border: none
    border-radius: 10px
    color: $main1
    background: $main2Lt1
    box-shadow: 1px 1px 3px $main1Lt2
    transition: background-color 0.35s
    &:hover
      cursor: pointer
      color: $main3
      background: $main1Lt1
      transition: background-color 0.5s
