#hero
  background-image: url('imgs/black-keyboard.jpg')
  background-size: cover
  height: 100vh
  display: flex
  flex-direction: column

.hero_center
  margin: auto
  .hero_title
    margin: 25px 0
    font-size: 75px
  h1
    font-size: 65px
    color: white
    text-shadow: 0 2px rgba(0,0,0,0.2)
  h2
    font-size: 45px
    text-align: center
    color: white
    text-shadow: 0 2px rgba(0,0,0,0.2)
