#nav
  background: $main1
  padding: 0 5px
  width: 100%
  min-height: 58px
  display: flex

.nav_logo
  color: $main2Lt1
  font-size: 30px
  font-weight: bold
  padding: 8px 0
  margin-left: 15px
  text-shadow: 2px 2px $main1Dr1
  span
    font-size: 20px

.nav_main
  flex: 1

.nav_fixed-on
  position: fixed
  top: 0
  left: 0
  right: 0

.nav_btn-wrap
  display: flex
  flex-wrap: wrap
  justify-content: flex-end

.nav_toggle
  display: none

.nav_btn
  padding: 15px 20px
  font-size: 20px
  color: $main3
  margin: 2px
  transition: background-color 0.35s
  &:hover
    background-color: $main1Dr1
    border-radius: 5px
    transition: background-color 1s
  &:active
    background-color: #91B0C0

.nav_div-line
  font-size: 25px
  padding: 15px 2px
  color: $main2

.nav_hr
  display: none
  margin: 0

.nav_ghost
  height: 58px

@media screen and (max-width: 550px)
  .nav_logo
    display: none

  .nav_btn-wrap
    flex-direction: column

  .nav_div-line
    display: none

  .nav_btn
    display: none
    text-align: center
    transition: height 1s

  .nav_btn-on
    display: block

  .nav_toggle
    margin: auto
    display: block
    padding: 15px 30px
    text-decoration: none !important
