#nav
  background: #2D65A0
  padding: 0 10px

.nav_fixed-on
  position: fixed
  top: 0
  left: 0
  right: 0

.nav_btn-wrap
  display: flex
  flex-wrap: wrap
  justify-content: flex-end

.nav_toggle
  display: none

.nav_btn
  padding: 15px 20px
  font-size: 25px
  color: white
  border: solid #2D65A0
  // background: #2E659E
  &:hover
    background-color: #13508F
    text-decoration: underline
  &:active
    background-color: #599DDA

.nav_div-line
  font-size: 25px
  padding: 15px 2px
  color: #729ECB

.nav_hr
  display: none
  margin: 0

.nav_ghost
  height: 64px

@media screen and (max-width: 550px)
  .nav_btn-wrap
    flex-direction: column

  .nav_div-line
    display: none

  .nav_btn
    display: none
    text-align: center

  .nav_btn-on
    display: block

  .nav_toggle
    margin: auto
    display: block
    padding: 15px 30px
    text-decoration: none !important
