#portf
  // use this when cascading becouse of react
  .portf_innerWrap

.portf_site-wrap
  display: flex
  justify-content: center
  margin: 20px 0
  flex-wrap: wrap

.portf_site
  margin: 15px 25px

.portf_site-btn
  width: 200px
  height: 55px
  margin: 5px auto 10px auto
  button
    font-size: 35px
    padding: 2px

.portf_section
  margin: 25px 0 0 0

.portf_item-wrap
  display: flex
  flex-wrap: wrap

.portf_item
  width: 49.5%
  margin: 1px auto
  height: 175px
  border: solid $main2Dr1 1px
  background-size: cover
  background-position: 50% 0%
  display: flex
  flex-wrap: wrap
  position: relative
  &:hover .portf_item-link
    opacity: 0.45
    background-color: rgba(0,0,0,0.2)

.portf_item-title
  width: 100%
  position: absolute
  bottom: 10px
  color: $main3
  z-index: 0
  text-shadow: 1px 1px rgba(0,0,0,0.45)
  span
    border-radius: 5px
    padding: 3px 6px
    background-color: rgba(57,110,127,0.65)

.portf_item-link
  z-index: 1
  text-align: center
  opacity: 0
  transition: opacity 0.5s, background-color 0.5s, color 0.35s
  display: flex
  flex: 1
  flex-direction: column
  color: $main1
  text-shadow: 1px 1px rgba(255,255,255,0.7)
  &:hover
    opacity: 1 !important
    background-color: rgba(0,0,0,0.2) !important
    transition: opacity 0.75s, background-color 0.75s, color 0.75s
  p
    margin: 0
    margin-bottom: auto
    color: inherit
  i
    font-size: 75px
    margin: auto
    margin-bottom: 0

@media screen and (max-width: 550px)
  .portf_item
    height: 100px
    h4
      bottom: 7px
      font-size: 14px
  .portf_item-link
    i
      font-size: 55px
    p
      font-size: 12px

.portf_code-line
    text-align: center
    display: flex
    align-items: center
    &::before, &::after
      content: ''
      flex: 1
      border-bottom: 2px solid $textMain
    &::before
      margin-right: 5px
    &::after
      margin-left: 5px
