* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4 {
  text-align: center;
  margin: 0; }

.base_large-btn {
  margin: auto;
  width: 100px;
  height: 50px; }
  .base_large-btn button {
    width: 100%;
    height: 100%; }

#hero {
  background-image: url("imgs/black-keyboard.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  text-shadow: 1px 2px #4d5b61; }

.hero_center {
  margin: auto;
  width: 100%;
  padding: 25px 0;
  border-radius: 10px; }
  .hero_center h2 {
    font-size: 75px;
    max-width: 500px;
    margin: auto; }
    .hero_center h2 span {
      font-size: 45px; }
  .hero_center h3 {
    font-size: 60px; }

.hero_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 0; }
  .hero_title h1 {
    margin: 25px 0;
    font-size: 75px; }
  .hero_title img {
    height: 125px;
    border-radius: 50%;
    margin-right: 15px; }

.hero_arrow-down {
  text-align: center;
  font-size: 55px;
  width: 100%;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .hero_arrow-down:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
    transition: background-color 0.75s; }
  .hero_arrow-down p {
    font-size: 25px;
    margin: 15px 0 0 0; }
  .hero_arrow-down i {
    margin: 15px; }

@media screen and (max-width: 550px) {
  .hero_center h2 {
    font-size: 55px;
    max-width: 350px; }
    .hero_center h2 span {
      font-size: 25px; }
  .hero_center h3 {
    font-size: 50px; }
  .hero_title h1 {
    font-size: 45px; }
  .hero_title img {
    height: 95px;
    margin: 5px; } }

#nav {
  background: #3B6A81;
  padding: 0 10px;
  width: 100%; }

.nav_fixed-on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.nav_btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav_toggle {
  display: none; }

.nav_btn {
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  margin: 2px;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  .nav_btn:hover {
    background-color: #22536A;
    border-radius: 5px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s; }
  .nav_btn:active {
    background-color: #91B0C0; }

.nav_div-line {
  font-size: 25px;
  padding: 15px 2px;
  color: #CB9658; }

.nav_hr {
  display: none;
  margin: 0; }

.nav_ghost {
  height: 58px; }

@media screen and (max-width: 550px) {
  .nav_btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav_div-line {
    display: none; }
  .nav_btn {
    display: none;
    height: 0px;
    text-align: center;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s; }
  .nav_btn-on {
    display: block;
    height: inherit;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s; }
  .nav_toggle {
    margin: auto;
    height: initial;
    display: block;
    padding: 15px 30px;
    text-decoration: none !important; } }

#about {
  padding: 20px 30px;
  margin: auto;
  max-width: 750px;
  background: rgba(0, 0, 0, 0.045); }
  #about h2 {
    font-size: 42px;
    color: #CBAB58;
    margin-top: 15px; }
  #about h3 {
    font-size: 28px;
    color: #CBAB58; }
    #about h3 i {
      color: #3B6980; }
  #about h4 {
    font-size: 20px;
    margin: 20px; }
  #about p, #about li {
    font-size: 18px;
    color: #464646; }

.about_wrap {
  background: #E9F1F5;
  -webkit-box-shadow: 1px 1px 4px black;
  box-shadow: 1px 1px 4px black; }

.about_top-sect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .about_top-sect .about_point {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 20px; }

.about_bot-sect {
  padding: 20px;
  width: 450px;
  margin: auto; }

@media screen and (max-width: 550px) {
  #about {
    padding: 15px 0 0 0; }
  .about_top-sect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about_bot-sect {
    width: 100%; } }

#portf {
  padding: 25px 0; }
  #portf section {
    margin: 30px; }
    #portf section img {
      width: 100px; }

@media screen and (max-width: 700px) {
  .portf_iframe {
    width: 90%; } }

.portf_code-line {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .portf_code-line::before, .portf_code-line::after {
    content: '';
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid #000; }
  .portf_code-line::before {
    margin-right: 5px; }
  .portf_code-line::after {
    margin-left: 5px; }

#contact {
  background: #E9F1F5; }
