* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 0; }

h2, h3 {
  color: #CCAA58; }

h1 {
  font-size: 55px; }

h2 {
  margin-top: 5px;
  font-size: 42px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

p, li {
  color: #464646;
  font-size: 18px; }

button:focus {
  outline: 0; }

.base_section {
  padding: 30px 60px;
  margin: 0 auto;
  max-width: 900px; }
  .base_section.odd {
    background: rgba(0, 0, 0, 0.045); }
  .base_section.even {
    background: rgba(0, 0, 0, 0.02); }

@media screen and (max-width: 800px) {
  .base_section {
    padding: 20px; } }

@media screen and (min-width: 1100px) {
  .base_section {
    max-width: 1050px; } }

.base_section-wrap {
  -webkit-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black; }
  .base_section-wrap.odd {
    background: #E7F1F4; }
  .base_section-wrap.even {
    background: white; }

.base_btn button {
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  color: #396E7F;
  background: #F4D790;
  -webkit-box-shadow: 1px 1px 3px #8FB2BE;
  box-shadow: 1px 1px 3px #8FB2BE;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  .base_btn button:hover {
    cursor: pointer;
    color: white;
    background: #5C8998;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }

#hero {
  background-image: url("imgs/black-keyboard.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-shadow: 1px 1px #4d5b61; }
  #hero h1 {
    margin: 20px 0; }
  #hero h1, #hero h2, #hero h3, #hero h4, #hero p {
    color: white; }
  #hero p {
    text-align: center;
    margin: 0 auto; }

.hero_center {
  margin: auto;
  width: 100%;
  padding: 25px 0;
  border-radius: 10px; }

.hero_icon-top-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 60px; }

.hero_icon-top {
  margin: 15px 12px 0 12px;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
  color: white; }
  .hero_icon-top.anim {
    margin-top: 0px;
    -webkit-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    transition: margin 0.5s; }

.hero_verb {
  font-size: 35px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin: 25px 0 0 0;
  height: 65px;
  overflow: hidden; }
  .hero_verb div {
    margin: 0 7px 0 7px; }

#hero_verb-word {
  margin: 0;
  position: relative;
  text-align: center;
  width: 145px; }
  #hero_verb-word.anim0 {
    top: 55px; }
  #hero_verb-word.anim1 {
    top: 0; }
  #hero_verb-word.anim2 {
    top: -55px; }

#hero_verb-icon {
  font-size: 55px;
  -webkit-transition: opacity 1.8s;
  -o-transition: opacity 1.8s;
  transition: opacity 1.8s; }

.hero_arrow-down {
  text-align: center;
  font-size: 55px;
  width: 100%;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .hero_arrow-down:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
    transition: background-color 0.75s; }
  .hero_arrow-down p {
    font-size: 25px;
    margin: 15px 0 0 0; }
  .hero_arrow-down i {
    margin: 15px;
    color: white; }

.hero_hire-btn {
  width: 250px;
  height: 60px;
  margin: 5px auto 15px auto;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s; }
  .hero_hire-btn:hover {
    width: 310px;
    -webkit-transition: width 1.5s;
    -o-transition: width 1.5s;
    transition: width 1.5s; }
  .hero_hire-btn button {
    font-size: 22px; }

@media screen and (max-width: 550px) {
  #hero h1 {
    font-size: 40px; }
  #hero h3 {
    font-size: 22px; }
  .hero_center .hero_icon-top {
    font-size: 50px; } }

#nav {
  background: #396E7F;
  padding: 0 5px;
  width: 100%;
  min-height: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 100; }

.nav_logo {
  color: #F4D790;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 0;
  margin-left: 15px;
  text-shadow: 2px 2px #215668; }
  .nav_logo span {
    font-size: 20px; }

.nav_main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.nav_fixed-on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }

.nav_btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav_toggle {
  display: none; }

.nav_btn {
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  border: solid 2px #396E7F;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  .nav_btn:hover {
    background-color: #215668;
    border-radius: 5px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s; }
  .nav_btn:active {
    background-color: #91B0C0; }

.nav_div-line {
  font-size: 25px;
  padding: 15px 2px;
  color: #CCAA58; }

.nav_hr {
  display: none;
  margin: 0; }

.nav_ghost {
  height: 58px; }

@media screen and (max-width: 550px) {
  .nav_logo {
    display: none; }
  .nav_btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav_div-line {
    display: none; }
  .nav_btn {
    display: none;
    text-align: center;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s; }
  .nav_btn-on {
    display: block; }
  .nav_toggle {
    margin: auto;
    display: block;
    padding: 15px 30px;
    text-decoration: none !important; } }

#about h3 i {
  color: #396E7F; }

.about_top-sect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .about_top-sect .about_point {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 20px; }

.about_bot-sect {
  padding: 15px;
  width: 500px;
  margin: auto; }

@media screen and (max-width: 550px) {
  .about_top-sect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about_top-sect .about_point {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none; }
  .about_bot-sect {
    width: 100%; } }

.portf_site-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portf_site {
  margin: 15px 25px; }

.portf_site-btn {
  width: 200px;
  height: 55px;
  margin: 5px auto 10px auto; }
  .portf_site-btn button {
    font-size: 35px;
    padding: 2px; }

.portf_section {
  margin: 25px 0 0 0; }

.portf_item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portf_item {
  width: 49.5%;
  margin: 1px auto;
  height: 175px;
  border: solid #A78431 1px;
  background-size: cover;
  background-position: 50% 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .portf_item:hover .portf_item-link {
    opacity: 0.45;
    background-color: rgba(0, 0, 0, 0.2); }

.portf_item-title {
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: white;
  z-index: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.45); }
  .portf_item-title span {
    border-radius: 5px;
    padding: 3px 6px;
    background-color: rgba(57, 110, 127, 0.65); }

.portf_item-link {
  z-index: 1;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s, background-color 0.5s, color 0.35s;
  -o-transition: opacity 0.5s, background-color 0.5s, color 0.35s;
  transition: opacity 0.5s, background-color 0.5s, color 0.35s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-shadow: 1px 1px white; }
  .portf_item-link:hover {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: opacity 0.75s, background-color 0.75s, color 0.75s;
    -o-transition: opacity 0.75s, background-color 0.75s, color 0.75s;
    transition: opacity 0.75s, background-color 0.75s, color 0.75s; }
  .portf_item-link p {
    margin: 0;
    margin-bottom: auto;
    color: inherit; }
  .portf_item-link i {
    font-size: 75px;
    margin: auto;
    margin-bottom: 0; }

@media screen and (max-width: 550px) {
  .portf_item {
    height: 100px; }
    .portf_item h4 {
      bottom: 7px;
      font-size: 14px; }
  .portf_item-link i {
    font-size: 55px; }
  .portf_item-link p {
    font-size: 12px; } }

.portf_code-line {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .portf_code-line::before, .portf_code-line::after {
    content: '';
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 2px solid #464646; }
  .portf_code-line::before {
    margin-right: 5px; }
  .portf_code-line::after {
    margin-left: 5px; }

.contact_form {
  margin: auto; }

.contact_subhead {
  margin: 0 0 20px 0; }

.contact_innerWrap section {
  margin: 25px auto; }

.contact_form-input-wrap {
  margin: auto;
  max-width: 550px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contact_form-input-wrap input, .contact_form-input-wrap textarea {
    padding: 10px 8px;
    margin: 10px 0 0 0; }
  .contact_form-input-wrap input {
    width: 49%; }
  .contact_form-input-wrap #name {
    width: 100%; }
  .contact_form-input-wrap textarea {
    width: 100%;
    margin-bottom: 10px; }

.contact_form-sendBtn {
  margin: auto;
  width: 150px;
  height: 35px; }

.contact_social {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 750px; }

.contact_social-btn {
  margin: 10px 10px;
  width: 200px;
  height: 50px; }
  .contact_social-btn button {
    font-size: 30px; }

@media screen and (max-width: 550px) {
  .contact_social-btn {
    width: 125px;
    margin: 5px 5px; } }

.footer_mainName {
  font-size: 16px;
  text-align: center;
  color: white; }
  .footer_mainName span {
    border-radius: 5px;
    padding: 4px 8px;
    background-color: #8FB2BE; }

@media screen and (max-width: 550px) {
  .footer_mainName {
    font-size: 10px; } }
