* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 0; }

h2, h3 {
  color: #CCAA58; }

h1 {
  font-size: 55px; }

h2 {
  margin-top: 5px;
  font-size: 42px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

p, li {
  color: #464646;
  font-size: 18px; }

button:focus {
  outline: 0; }

.base_section {
  padding: 30px 60px;
  margin: 0 auto;
  max-width: 900px; }
  .base_section.odd {
    background: rgba(0, 0, 0, 0.045); }
  .base_section.even {
    background: rgba(0, 0, 0, 0.02); }

@media screen and (max-width: 900px) {
  .base_section {
    padding: 20px; } }

@media screen and (min-width: 1100px) {
  .base_section {
    max-width: 1050px; } }

.base_section-wrap {
  -webkit-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black; }
  .base_section-wrap.odd {
    background: #E7F1F4; }
  .base_section-wrap.even {
    background: white; }

.base_btn button {
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  color: #396E7F;
  background: #F4D790;
  -webkit-box-shadow: 1px 1px 3px #8FB2BE;
  box-shadow: 1px 1px 3px #8FB2BE;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  .base_btn button:hover {
    cursor: pointer;
    color: white;
    background: #5C8998;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
